# Ignore node_modules
node_modules/

# Ignore environment secrets
.env

# Ignore build outputs (nếu có)
dist/
build/
# Ignore logs
logs/

GEMINI_API_KEY=AIzaSyAdibuOZzpdDpLPXRzB8t46RQlGYhKVgUs